@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 body {
   font-family: 'Montagu Slab', serif;
   color: #303d38;
   width: 100vw;
   min-height: 100vh;
   background: #f9f9f9;
}
.pouet {
  padding: 0 16px;
  padding-top: calc(47vh * 100 / 900);
}

@media only screen and (min-width: 992px) {
  .pouet {
    padding: 0 calc(205vw * 100 / 1440);
    padding-top: calc(47vh * 100 / 900);
 }
}
 .top {
   padding: 0 16px;
}

 @media only screen and (min-width: 992px) {
   .top {
     padding: 0 calc(205vw * 100 / 1440);
     padding-top: calc(47vh * 100 / 900);
  }
}
 .home {
   min-height: 100vh;
   height: fit-content;
   overflow: hidden;
}
 @media only screen and (min-width: 992px) {
   .home {
     height: 100vh;
  }
}
 a {
   text-decoration: underline;
}
 nav {
   width: 100%;
}
.grow {
  flex-grow: 1;
}
@media only screen and (min-width: 992px) {
  nav {
    display: flex;
 }
}
 nav .logo {
   position: relative;
   text-align: center;
}
 @media only screen and (min-width: 992px) {
   nav .logo {
  }
}
 nav .logo svg {
   display: none;
}
 nav .logo p {
   font-weight: 700;
   z-index: 10;
}
 nav .links {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   padding: 0px;
   gap: calc(26vw * 100 / 1440);
}
 @media only screen and (min-width: 992px) {
   nav .links {
  }
}
 .hero {
   width: 100%;
   position: relative;
}
 @media only screen and (min-width: 992px) {
   .hero {
     height: 100%;
  }
}
 .hero .content {
   width: 100%;
}
 @media only screen and (min-width: 992px) {
   .hero .content {
     margin: 0;
     position: absolute;
     top: 50%;
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     display: flex;
     flex-direction: row;
  }
}
 .hero .content .picture {
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   margin: 50px 0;
}
 .hero .content .picture img {
   border-radius: 5px;
}
 @media only screen and (min-width: 992px) {
   .hero .content .picture {
     margin: 0;
      }
}
 @media only screen and (min-width: 992px) {
   .hero .content .main-c {
     padding-left: calc(60vw * 100/1440);
     height: fit-content;
  }
}
 .hero .content .main-c div {
   transition-timing-function: ease;
   opacity: 0;
   animation: fadeIn 0.5s forwards;
   animation-delay: 0.5s;
}
 .hero .content .main-c img {
   vertical-align: middle;
   width: 40px;
}
 @media only screen and (min-width: 992px) {
   .hero .content .main-c img {
     width: calc(64vw * 100 / 1440);
  }
}
 .hero .content .main-c p {
   transition-timing-function: ease;
   opacity: 0;
   animation: fadeIn 0.9s forwards;
   animation-delay: 0.5s;
   font-weight: 400;
   padding-top: 10px;
}
 @media only screen and (min-width: 992px) {
   .hero .content .main-c .cta {
     display: flex;
     flex-direction: row;
  }
}
 .hero .content .main-c .cta button {
   border-radius: 5px;
   font-weight: 500;
   width: 100%;
   height: 40px;
}
 @media only screen and (min-width: 992px) {
   .hero .content .main-c .cta button {
     padding: calc(15vh * 100/900) calc(75vw * 100/1440);
     height: auto;
  }
}
 .hero .content .main-c .cta .first {
   background-color: #303d38;
   color: #fff;
}
 .hero .content .main-c .cta .second {
   margin-top: 10px;
   margin-bottom: 10px;
   border: 1px solid #303d38;
   background-color: #fff;
}
 @media only screen and (min-width: 992px) {
   .hero .content .main-c .cta .second {
     margin-top: 0;
     margin-bottom: 0;
     margin-left: calc(30vw * 100/1440);
  }
}
 .main {
   padding-bottom: calc(47vh * 100 / 900);
}
@media only screen and (min-width: 992px) {
  .main {
    padding: 0 calc(205vw * 100 / 1440)
  }
}
 .main p, .main h1, .main h2, .main h3 {
   padding-top: 10px;
   color: #333;
   font-family: 'Roboto', sans-serif;
   line-height: 28px;
}
 .code {
   margin-top: 16px;
   white-space: pre-line;
   font-variant-numeric: tabular-nums;
   font-family: monospace;
   overflow: scroll;
}
 .code div {
   background: #fef9cd;
   width: fit-content;
   padding: 16px;
}
 .border-black li {
   padding: 40px;
   border-top: 0.1rem solid black;
   border-bottom: 0.1rem solid black;
}
 .border-black li:hover {
   background: #fce305;
}
 .readinglist h2, .readinglist h3 {
   margin-top: 20px;
   margin-bottom: 20px;
}
 @keyframes fadeIn {
   0% {
     opacity: 0;
  }
   100% {
     opacity: 1;
  }
}
h1, h2, h3, h4, h5, h6, p {
  font-size: revert;
} 
h1 {
  font-size: 32px;
}
.pouet h1 {
  margin: 20px 0;
}
@media only screen and (min-width: 992px) {
  .pouet h1 {
    margin: 50px 0;
 }
}
.vertical-align {
  margin: auto 0;
  align-items: center
}